@CHARSET "UTF-8";
#notice_main{
	border-bottom:1px solid #f7f7f7;
}
#content{
	min-width:1050px;
	padding-bottom:120px;
	position:relative;
}

#tbl_purchase_List{width:820px; text-align:center;}

table {width: 100%; border-top: 2px solid black; margin:10px auto; text-align:center; font-weight:bold; border-collapse: collapse;}
   tr, td {border-bottom: 1px solid #444444;padding: 10px;}  
.tbl_read td {border-bottom: 1px solid #444444; text-align:left; padding: 10px;}

.page_aticle.aticle_type2 {
    padding-top: 85px;
}
.page_aticle{
	width:1050px;
	margin: 0 auto;
}
.page_aticle.aticle_type2 .page_section {
    float: right;
    width: 820px;
}
.page_aticle .head_aticle {
    padding: 5px 0 34px;
}

.page_aticle .head_aticle .tit {
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
    letter-spacing: -.5px;
}
#snb {
    float: left;
    width: 200px;
}
#snb .tit_snb {
    padding: 8px 0 33px 1px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #123478;
    letter-spacing: -.5px;
}

div{
	display:block;
}

#snb .inner_snb {
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}

ol,ul{
	list-style-type:none;
}

#snb .list_menu li {
    border-bottom: 1px solid #f2f2f2;
}
#snb .list_menu li a {
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -.3px;
}
#snb .list_menu li.on a, #snb .list_menu li a:hover {
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-weight: 700;
    color: #123478;
}

a{	
	color:#123478;
	text-decoration:none;
}
select { width: 130px;
		height: 40px;
            padding: .4em .4em;
            border: 1px solid #ccc;
            font-family: inherit;
            background: url('/resources/image/index/arrow.jpg') no-repeat 95% 50%;
            border-radius: 0px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            }               
select::-ms-expand {display: none;}
.admin_text {
	width: 350px;
	height: 40px;
	padding: .4em;
	margin: 5px;
	font-weight: 600;
	background: white;
	 border: 1px solid #ccc;
    border-radius: 3px;
	font-size: 12pt;
	color: -internal-light-dark(black, white);
	background-color: -internal-light-dark(rgb(255, 255, 255),
		rgb(59, 59, 59));
} 
.admin_text2 {
	width: 150px;
	height: 40px;
	padding: .4em;
	margin: 5px;
	font-weight: 600;
	background: white;
	 border: 1px solid #ccc;
    border-radius: 3px;
	font-size: 12pt;
	color: -internal-light-dark(black, white);
	background-color: -internal-light-dark(rgb(255, 255, 255),
		rgb(59, 59, 59));
} 


.btn_admin {
	width: 120px;
	height: 40px;
	padding: .4em;
	border: 1px solid #123478;
	background: #123478;
	border-radius: 5px 5px 5px;
	color: white;
	margin-left:10px;
}

.btnDelete {
	width: 100px;
	height: 40px;
	padding: .4em;
	border: 1px solid #123478;
	background: #123478;
	border-radius: 5px 5px 5px;
	color: white;
	margin-left:10px;
}
#pagination{text-align:center; margin-bottom:20px;}
.btn_admin2 {
	width: 120px;
	height: 40px;
	padding: .4em;
	border: 1px solid #364967;
	background: white;
	border-radius: 5px 5px 5px;
	color: #364967;
	margin-left:10px;
}

 .ellipsis { 
                white-space:nowrap; overflow:hidden; text-overflow:ellipsis; 
                font-size:15px; width:100px; text-align:center;
            }
