@CHARSET "UTF-8";
.btn_type1{
	border: 1px solid #123478;
    background-color: #123478;
	display:block;
	over-flow:hidden;
	width:100%;
	height:54px;
	border-radius:3px;
	font-size:0;
	text-align:center;
}
.btn_type1 .txt_type{
	font-family: noto sans;
	color:white;
	display: inline-block;
	height:100%;
	font-size:16px;
	line-height:51px;
	text-align:center;
	font-weight:500;
}
.div_Login{margin: 30px auto; width: 400px; height: 1316px;}
h2{margin-top:30px;}
.div_Login input[type="checkbox"]{margin-bottom:30px;}
.input_admin_id, .input_admin_password{height:54px; width:100%; font-size:14px; padding:10px; outline:none; border-radius:3px; border:1px solid #ccc;}