@CHARSET "UTF-8";

#cart{width:1002px; margin:0px auto; margin-bottom:50px; }
#cart h2{margin-top: 40px; }
#cart1{width:750px; float:left; margin-top:20px; margin-bottom:50px; border-right:2px black solid; }
#cart2{width:230px; float:right; margin-top:20px; margin-bottom:50px;}
#carttbl{margin:0px auto; border-collapse:collapse; }
#carttbl td{}
#carttbl .chkBox{margin:0px auto; }