@CHARSET "UTF-8";

#cs_service{width:1000px; overflow:hidden; margin:0 auto; }

/* leftMenu-cs_menu */
#cs_menu{
	width:170px; 
	float:left; 
	margin-top:20px; 
	margin-bottom:20px; 
	font-size:10pt;
}

a{	
	color:#123478;
	text-decoration:none;
}

/*
#list_menu{
	width:170px; 
	margin-top:20px; 
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}
.list_menu li{
	padding:20px; 
	border-bottom:1px solid black;
}

.list_menu li a{
	display:block;
	color:black; 
	text-decoration:none;
}

.list_menu li:hover{
	background:#364967;
	color:white; 
	text-decoration:underline; 
	cursor:pointer;
}

.list_menu li a:hover{
	color:white;
	text-decoration:none;
}
*/
#rightContent{
	width:800px;
	float:right;
	padding-left:30px; 
}

#snb {
    float: left;
    width: 170px;
}
#snb .tit_snb {
    padding: 8px 0 20px 1px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #123478;
    letter-spacing: -.5px;
}

div{
	display:block;
}

#snb .inner_snb {
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}

ol,ul{
	list-style-type:none;
}

#snb .list_menu li {
    border-bottom: 1px solid #f2f2f2;
}
#snb .list_menu li a {
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -.3px;
}
#snb .list_menu li.on a, #snb .list_menu li a:hover {
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-weight: 700;
    color: #123478;
}

