@charset "UTF-8";

*{font-family: 'Noto Sans KR', sans-serif; margin:0; padding:0; box-sizig:border-box;}
h1, h2, h3, h4{text-align:center; }

#detail{width:1000px; margin:0 auto; overflow:hidden; }

#product_image{width:500px; float:left; text-align:center; margin-top:30px; }
#product_detail{width:500px; float:right; }
#product_detail hr{margin-bottom:15px; margin-top:20px; 
				   color: #666; border:0px; border-top:1px dotted #666; }

#product_detail .product_name{font-size:17pt; margin-bottom:5px; margin-top:30px; font-weight:bold;}
#product_detail .product_detail{font-size:9pt; margin-bottom:10px; font-weight:bold;}
#product_detail .product_price{font-size:17pt; font-weight:bold;}

.tit{
    float: left;
    font-weight:bold;
    width: 150px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    margin-bottom:10px;
}
.desc{
	font-size: 14px;
	font-weight:bold;
	margin-bottom:10px;
}
#product_qtt{
	margin-left:5px; 
	font-weight:bold;
	margin-right:5px; 
	vertical-align: top; 
	font-size:12pt;
}
#qtt_down, #qtt_up{
	cursor:pointer;
}

#groupBtn{width:500px; float:right; margin-bottom:30px; text-align:right;}
#groupBtn button{padding:10px; background:white; border:1px solid black; font-weight:bold; }
#groupBtn .btnAlarm{width:120px; margin-right:5px; }
#groupBtn .btnSave{width:120px; margin-right:5px; }
#groupBtn .btnCart{width:200px; }
#price{text-align:right; font-weight:bold;}

/* 메뉴바 스크롤 */
.detailMenu{
    text-align: center;
    width: 1000px;
    margin:0 auto;
    overflow:hidden;
    border-bottom:2px solid white;
}
    
.detailMenu a{
	width: 303px;
	float:left;
	padding:15px; 
    text-align: center;
    margin:0 auto;
    background:#123478;
    font-size: 14px;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.detailContent{
	width: 1000px;
    margin:0 auto;
    margin-bottom:40px;
}

.detailContent div{
	width: 998px;
    text-align: center;
    margin:0 auto;
}

#detailContent1{
	padding-top:10px;
}

#detailContent3{
	padding-top:100px;
	padding-bottom:50px;
}

#detailContent4{
	padding-top:100px;
	padding-bottom:100px;
}

.scroll-fixed{
    position: fixed;
    top: 0px; 
    left: 0;
   	right: 0;
    width: 1000px;
    margin:0 auto;
    background:#D8EDE7; 
}
    
/* 레시피재료 */
#recipeItems{width:1000px; margin:0px auto; margin-top:40px; 
			 text-align:center; margin-bottom:70px; }
#blog_api{width:1000px; margin:0px auto; margin-top:60px; text-align:center;}
#recipeItems h2{color:black; text-align:left; font-size:13pt; margin-bottom:10px;}
#blog_api h2{color:black; text-align:left; font-size:13pt; margin-bottom:10px;}

.slide_wrapper{
	position:relative;
	width:1000px;
	margin: 0 auto;
	height:210px;
	overflow:hidden;
	margin-top:10px;
	margin-bottom:30px;
}
.meterials li{
	width: 164px;
	height: 210px;
	float:left;
	margin:1px;
	text-align:center;
	background:white;
	margin-left:1px;
}
.meterials a, a:visited, a:active{
	text-decoration:none; 
	color:black;
}
a:hover{
	text-decoration:none; 
	color:#ccc;
}
.meterials img{
	border:1px solid black;
}
.meterials .items_name{
	width: 165px;
	font-weight:bold;
	font-size:10pt;
}
.meterials .items_price{
	width: 165px;
	font-weight:bold;
	font-size:10pt;
}