@CHARSET "UTF-8";
#content {
    min-width: 1050px;
    padding-bottom: 120px;
}
<!-- 마이페이지 head -->
.page_aticle {
    width: 1050px;
    margin: 0px auto;
}
.mypage_top {
    width: 100%;
    padding: 50px 0;
    margin-bottom: -20px;
    background-color: #f7f7f7;
}
.mypage_top .mypagetop_user {
    overflow: hidden;
    width: 1050px;
    margin: 0 auto;
}
.mypage_top .inner_mypagetop {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.mypage_top .grade_user {
    width: 362px;
    padding: 30px;
    background-color: #fff;
}
.mypage_top .grade_wrap {
    display: flex;
    align-items: center;
}
.mypage_top .grade_wrap .grade_logo {
    border: 1px solid #949296;
    background-color: #fff;
    color: #949296;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}
.mypage_top .grade_wrap .grade_logo {
    border: 1px solid #949296;
    background-color: #fff;
   	font-weight:500;
   	margin-right:20px;
    color: #949296;
}
.mypage_top .grade_wrap .name {
    margin-left: 30px;
    font-size: 20px;
}
.mypage_top .name {
    overflow: hidden;
    float: left;
    max-width: 263px;
    font-weight: 700;
    font-size: 20px;
    color: #333;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mypage_top .grade_bnenfit {
    overflow: hidden;
    margin-top: 16px;
}
.mypage_top .grade_user .benefit {
    padding-top: 4px;
}

.mypage_top .benefit .tit {
    color: #5f0080;
}
.mypage_top .next {
    display: flex;
    align-items: left;
    justify-content: center;
    margin-top: 18px;
}
.mypage_top .next a {
    height: 30px;
    padding-top: 4px;
    border: 1px solid #f4f4f3;
    border-radius: 15px;
    background-color: #f4f4f4;
    font-size: 12px;
    color: #333;
    line-height: 18px;   
    text-align:center;
}
.mypage_top .total_grade {
    width: 121px;
}
.mypage_top .next a:not(:first-of-type) {
    margin-left: 10px;      
}
.mypage_top .next_month {
    width: 169px;
}
.mypage_top .list_mypage {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 4px;
}
.mypage_top .list_mypage .link_wrap .link_title {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #333;
    position: relative;
}
.mypage_top .list_mypage .link_wrap {
    width: 168px;
    background-color: #fff;
    padding: 26px 0 30px 30px;
    display: flex;
    float:left;
    flex-direction: column;
}
.mypage_top .list_mypage .link_wrap:not(:last-of-type) {
    flex-grow: 1;
    margin-right: 4px;
}
.mypage_top .list_mypage .link_wrap .spacer {
    flex-grow: 2;
    padding:56px;
}
.mypage_top .list_mypage .link_wrap .info {
    font-weight: 700;
    font-size: 20px;
    color: #5f0080;
    line-height: 28px;
    flex-grow: 3;
    position: relative;
}
<!-- 마이페이지 left -->
.mypage_content{
	width: 1050px;
	padding-top: 65px;
}
.aticle_type2 {
    padding-top:20px;
    margin-bottom:50px;
    margin-left:50px;
}
#snb {
    float: left;
    width: 200px;    
}
#snb .tit_snb {
    padding: 8px 0 33px 1px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #333;
    letter-spacing: -.5px;
}
#snb .inner_snb {
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}
ol, ul {	
    list-style-type: none;
}
#snb .list_menu li {	
    border-bottom: 1px solid #f2f2f2;
}
#snb .list_menu li a {
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    text-decoration:none;
    letter-spacing: -.3px;
}
#snb .list_menu li.on a, #snb .list_menu li a:hover {
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-weight: 700;
    color: #5f0080;
}
<!-- 마이페이지 right -->
.mypage_Content_Right{
	float: right;
    width: 820px;
}
.page_aticle .head_aticle {
    padding: 5px 0 34px;
}
.head_aticle .tit {
	margin-left:30px;
	text-align:left;
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    float:left;
    color: #333;
    letter-spacing: -.5px;
}
.head_aticle .tit_sub {
    padding-left: 11px;
    padding-bottom: 30px;
    font-size: 14px;
    color: #999;
    text-align:left;
    line-height: 20px;
    letter-spacing: -.3px;
    vertical-align: 3px;
}
.head_aticle .tit_sub_qna {
    font-size: 14px;
    color: #999;
    text-align:left;
    line-height: 20px;
    letter-spacing: -.3px;
    vertical-align: 3px;
}
.search_date {
    position: relative;
    z-index: 1;
    float: right;
    padding-right:300px;    
}
.screen_out {
    display: block;
    overflow: hidden;
    position: absolute;    
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.search_date .layer_search {    
	width: 130px;
    padding: .5em .5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('/resources/image/index/arrow.jpg') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.board-container {
    height: 100%;
}
.myinfo_PW {
    width: 820px;
    float:left;
    margin: 20px auto;    
}
.myinfo_PW .tit {
    padding: 0 0 8px;
    font-weight: 700;
    font-size: 18px;
}
.myinfo_PW .sub {
    padding-bottom: 20px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
}
<!-- 마이페이지 개인정보수정 -->
.tbl_login, .btn_login{width: 100%; margin:20px auto; text-align:center; border-collapse: collapse;}
.tbl_login tr {height:60px; display:table-row; vertical-align: inherit; border-color: inherit;}
.tbl_login th {	width: 30%;}
.tbl_login td {	width: 70%;	text-align: left;}
.id_input, .password_input{
	width: 400px;
	height: 50px;
	padding: .5em;
	font-weight: 500;
	border: 1px solid #364967;
	background: white;
	font-size: 12pt;
	color: black;
}
.login_button3 {
	width: 100px;
	height: 50px;
	padding: .5em;
	margin-bottom:10px;
	border: 1px solid #364967;
	background: #364967;
	color: white;
	font-weight: bold;
}

.board-container{
	float: right;
    width: 820px;
    margin-top:20px;
}

#tbl_orderList, #tbl_orders{
	width: 100%;	
	display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}

#tbl_orders tr, #tbl_orderList tr{border-bottom: 1px solid #ddd; text-align:center; padding: 10px;}

#tbl_orders td, #tbl_orderList td{border-bottom: 1px solid #ddd; text-align:center; padding: 10px;}
