@CHARSET "UTF-8";

/* 상품목록페이지 */
#all_list{width:1020px; margin:0 auto; text-align:center; overflow:hidden; 
		  margin-top:50px; margin-bottom:40px; }
#allCategoryList h2{margin-top:30px; margin-bottom:30px; }
#all_list h2{margin-top:20px; margin-bottom:60px; }
#all_list .all_product{ 
	float:left; 
	width:320px;
	margin-left:10px; 
	margin-right:10px; 
	text-align:center; 
	margin-bottom:50px;
}
.all_image{width:320px; height:300px; border:black 1px solid; 
		   margin-bottom:10px; }
.all_name{
	width:320px; 
	font-size:12pt; 
	margin-bottom:6px; 
	font-weight:bold; 
	text-align:center;
}
.all_price{
	width:320px; 
	font-size:11pt; 
	margin-bottom:6px;
	text-align:right; 
}
.all_detail{
	overflow: hidden;
	width:320px;  
	height:20px;
	font-size:11pt; 
	margin-bottom:6px;
	text-align:left; 
	text-overflow: ellipsis;
}
#allCategoryList{overflow:hidden; width:1000px; margin:0 auto; text-align:center; }
#allCategoryList .categoryList li{
	float:left; 
	margin-right:20px; 
	border-bottom:1px dotted black;
	padding:3px; 
	font-size:10pt;
}
#allCategoryList .categoryList li a{
	color:black;
	text-decoration:none;
}
#allCategoryList .categoryList li a:hover{
	background:#364967; 
	color:white; 
	text-decoration:none;
}
#allCategoryList .categoryList li a:active{
	background:#364967; 
	color:white; 
	text-decoration:none;
}
