@charset "UTF-8";

*{font-family:'맑은 고딕'; margin:0; padding:0; box-sizig:border-box;}
ul, li{list-style:none; }
#container{margin:0px auto; }
hr{width:1000px; margin:0px auto; }

/* 헤더  */
#header{width:1000px; margin:0px auto; }
#header img{margin-top:20px; margin-bottom:5px; }
#userMenu{overflow:hidden; padding-top:10px; }
#userMenu a{float:right; text-decoration:none; font-size:9pt; color:black; }
#userMenu a:active{color:black; }
#userMenu .menuItem a{margin-right:20px;}
#category{width:1000px; height:40px; overflow:hidden; margin-top:30px; margin-bottom:10px;}
#allCategory{width:150px; height:40px; float:left; }
#allCategory a{text-decoration:none; font-size:12pt; color:black; }
#categoryMenu{float:left; }
.cicon{float:left; width:25px; height:25px; margin-right:8px;
       background:url("../image/menu.png") no-repeat; }
#searchBox{float:right; margin-right:70px; width:200px; height:40px; }
#searchBox input{padding:3px; }
#menu{float:right; }
.menuCart{float:right; background:url("../image/cart.png") no-repeat;
		  width:25px; height:25px; }
.menuLocation{float:right; background:url("../image/location.png") no-repeat;
		  	  width:25px; height:25px; margin-right:20px;}

/* 메인  */
#main{width:1000px; margin:0px auto; margin-top:20px; margin-bottom:20px;}

/* 이달의 베스트 상품 */

/* 슬라이드 박스 */
[name="slide"] {display:none; }
.slidebox{max-width:1000px; width:100%; margin:0 auto; }
.slidebox img{max-width:100%; }
.slidebox .slideList{
	white-space:nowrap;
	font-size:0;
	overflow:hidden;
}
.slidebox .slideItem{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	transition:all .35c;
}
.slidebox .slideItem label{
	position:absolute;
	z-index:1;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:50%;
	cursor:pointer;
}
label.left{
	left:20px;
	background-color:transparent;
	background-image:url("../image/left.png");
	background-position:center center;
	background-size:50%;
	background-repeat:no-repeat;
}
label.right{
	right:20px;
	background-color:transparent;
	background-image:url("../image/right.png");
	background-position:center center;
	background-size:50%;
	background-repeat:no-repeat;
}

[id="slide01"]:checked ~ .slideList .slideItem {transform:translateX(0); animation:slide01 20s infinite;}
[id="slide02"]:checked ~ .slideList .slideItem {transform:translateX(-100%); animation:slide02 20s infinite;}
[id="slide03"]:checked ~ .slideList .slideItem {transform:translateX(-200%); animation:slide03 20s infinite;}
[id="slide04"]:checked ~ .slideList .slideItem {transform:translateX(-300%); animation:slide03 20s infinite;}

@keyframes slide01 {
	0% {left:0%}
	23% {left:0%}
	25% {left:-100%}
	48% {left:-100%}
	50% {left:-200%}
	73% {left:-200%}
	75% {left:-300%}
	98% {left:-300%}
	100% {left:0%}
}
@keyframes slide02 {
	0% {left:0%}
	23% {left:0%}
	25% {left:-100%}
	48% {left:-100%}
	50% {left:-200%}
	73% {left:-200%}
	75% {left:-100%}
	98% {left:-100%}
	100% {left:0%}
}
@keyframes slide03 {
	0% {left:0%}
	23% {left:0%}
	25% {left:-100%}
	48% {left:-100%}
	50% {left:200%}
	73% {left:200%}
	75% {left:100%}
	98% {left:100%}
	100% {left:0%}
}
@keyframes slide04 {
	0% {left:0%}
	23% {left:0%}
	25% {left:300%}
	48% {left:300%}
	50% {left:200%}
	73% {left:200%}
	75% {left:100%}
	98% {left:100%}
	100% {left:0%}
}

/* 푸터  */
#footer{width:1000px; margin:0px auto; margin-top:30px; margin-bottom:20px;}
#info{width:1000px; overflow:hidden; }
#cs{float:left; overflow:hidden; font-size:10pt;}
#cs button{padding:7px; border:1px solid black; background:white; 
		   margin-top:5px; margin-bottom:5px; }
#cs h1{margin-bottom:5px; }
#cs p{margin-bottom:3px; }
.cstxt{font-size:16pt; }
#company{float:right; text-align:right; font-size:10pt; line-height:180%}
#company ul{list-style:none; }
#company li{float: left; }
.list_sns{float:right; margin-top:25px; }
.list_sns li{margin-right:10px; }