<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AdminMapper">
	<select id="admin_login" resultType="com.example.domain.AdminVO">
		select * from tbl_admin where admin_id=#{admin_id}
	</select>
	
</mapper>