<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NoticeMapper">
	<select id="list" resultType="com.example.domain.NoticeVO">
		select * from tbl_notice 
		<if test="searchType=='notice_title'">
			where notice_title like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='notice_contents'">
			where notice_contents like concat('%',#{keyword},'%')
		</if>
		order by notice_number desc limit #{pageStart}, #{perPageNum}
	</select>
	<select id="read" resultType="com.example.domain.NoticeVO">
		select * from tbl_notice where notice_number=#{notice_number}
	</select>
	<update id="update">
		update tbl_notice set notice_title=#{notice_title}, notice_contents=#{notice_contents}, notice_modify_date=now() where notice_number=#{notice_number}
	</update>
	<select id="notice_code" resultType="int">
		select max(notice_number) from tbl_notice;
	</select>
</mapper>