<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PurchaseMapper">	
	<select id="orders" resultType="com.example.domain.OrderVO">
		select * from tbl_orders where user_id=#{user_id} 
	 	order by order_register_date desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="total_Orders" resultType="int">
		select count(*) from tbl_orders where user_id=#{user_id}
	</select>
	<select id="orderList" resultType="com.example.domain.PurchaseVO">
		select *,product_price * purchase_qtt purchase_sum from orderList where user_id=#{user_id} and order_number=#{order_number}
	</select>
	<select id="admin_order_list" resultType="com.example.domain.OrderVO">
		select * from tbl_orders order by order_register_date desc limit #{pageStart}, #{perPageNum}
	</select>	
	<select id="admin_purchase_List" resultType="com.example.domain.PurchaseVO">
		select *,product_price * purchase_qtt purchase_sum from orderList where order_number=#{order_number}
	</select>
	<update id="update_orderstatus">
		update tbl_orders set order_status=1 where order_number=#{order_number};
	</update>
</mapper>